.chip {

  overflow: hidden;
  background: #fff;
  
  &.chip-form,
  &.rg {
    --width: 81px;
    --height: 32px;
    --font-size: 14px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }
  }

  &.rd {
    --width: 76px;
    --height: 24px;
    --font-size: 12px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: #394048;

      .chip__txt {
        color: #fff;
      }
    }

    &.del {
      --width: auto;
      padding: 0 10px 0 15px;
    }
  }
  
  &.event {
    --width: 84px;
    --height: 29px;
    border: 0;

    &.on-going {
      background: $themeColor03;
    }

    &.ended {
      background: rgba(5, 5, 5, 0.6);
    }

    .chip__txt {
      color: #fff;
    }
  }

  &.case {
    --height: 32px;
    padding: 0 19px;
    --font-size: 14px;
    --color: #050505;
    letter-spacing: -0.35px;

    &.checked {
      font-weight: 500;
      background: $themeColor03;
      border-color: $themeColor03;

      .chip__txt {
        color: #fff;
      }
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  border: 1px solid #d0d3db;
  box-sizing: border-box;

  &__txt {

    &.fs-s {
      --font-size: 12px;
    }

    &.fs-xxs {
      --font-size: 10px;
    }

    color: var(--color);
    font-size: var(--font-size);
    text-align: center;
    white-space: nowrap;
  }

  &:hover {
    border-color: #394048;
  }

  &.checked {
    border-color: #394048;
  }

  &__del {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: url($imgCommon + 'ico-chips-del.png') 0 0/9px no-repeat;
  }
}

.chipCtg {
  height: 22px;
  padding: 0 8px;
  color: #fff;
  font-size: 12px;
  background: $themeColor02;
  border-radius: 4px;
  line-height: 24px;

  & + .chipCtg {
    margin-left: 4px;
  }
}

.chipTab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  color: #1b2432;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #c0c1ca;
  border-radius: 8px;

  &--active {
    color: #fff;
    background: #394048;
    border-color: #394048;
  }
}

.chipList {
  display: flex;
}

.searchedChip {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 2px 0 8px;
  color: #fff;
  font-size: 10px;
  background: #787e85;
  border-radius: 12px;

  .searchedChip__del {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    background: url($imgCommon + 'ico-searched-del.png') 0 0/100%;
  }
}

.quickMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  border-top: 1px solid #E9EAEE;
  background: rgba(255, 255, 255, 0.95);
  
  &__item {
    display: flex;
    justify-content: center;
    padding: 7px 0 9px;
  }

  &__btn {
    width: 72px;
    height: 55px;
  }

  &__txt {
    display: block;
    position: relative;
    padding-top: 26px;
    color: #787E85;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: center;

    &.on {
      color: #1B2432;
      font-weight: 500;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translateX(-50%);
      background-image: url($imgCommon + 'ico-foot-quick.png');
      background-size: 120px;
    }


    &.home {

      &::before {
        background-position: 0 0;
      }

      &.on {

        &::before {
          background-position: 0 -24px;
        }
      }
    }

    &.agent {

      &::before {
        background-position: -24px 0;
      }

      &.on {

        &::before {
          background-position: -24px -24px;
        }
      }
    }

    &.rcm {

      &::before {
        background-position: -48px 0;
      }

      &.on {

        &::before {
          background-position: -48px -24px;
        }
      }
    }

    &.case {

      &::before {
        background-position: -72px 0;
      }

      &.on {

        &::before {
          background-position: -72px -24px;
        }
      }
    }

    &.menu {

      &::before {
        background-position: -96px 0;
      }

      &.on {

        &::before {
          background-position: -96px -24px;
        }
      }
    }

  }
}

.radio-select-box {
  padding: 12px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.2);
  border: solid 1px #e9eaee;
  background-color: #fff;

  .box-tit {
    padding-bottom: 10px;
    color: #111;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid rgba(192, 193, 202, 0.6);
  }
}
 
.radioList {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;

  .radioList__item {
    margin-top: 20px;
  }

  &.grid4 {

    .radioList__item {
      width: 25%;
    }
  }
}

.radioList2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &.grid2 {

    .radioList__item {
      display: flex;
      align-items: center;
      width: 50%;
      height: 48px;
      border-bottom: 1px solid #e9eaee;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
  }
}

.schKey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 8px 0;
  background: #fff;

  &__inp {
    position: relative;
    width: calc(100% - 40px);
  }

  &__inpTxt {
    --height: 32px;
    width: 100%;
    height: var(--height);
    padding: 0 16px;
    color: #050505;
    font-weight: 300;
    font-size: 12px;
    background: #f9f9fa;
    border: 1px solid #e9eaee;
    border-radius: calc(var(--height)/2);

    &::placeholder {
      color: #787e85;
      font-size: 10px;
    }
  }

  &__del {
    display: none;
    position: absolute;
    top: 6px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: url($imgCommon + 'ico-searched-del.png') 0 0/100% no-repeat;
  }

  &__btn {
    width: 32px;
    height: 32px;
    background: url($imgSub + 'bg-matching.png') 0 100%/90px no-repeat;
  }
}

.summaryCard {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e9eaee;
  box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.2);
  border-radius: 8px;
  transform: translateZ(0);

  &__imgName {
    position: relative;
    width: 96px;
    height: 140px;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 1px;
    height: 38px;
    background: rgba(27, 36, 50, 0.7);

    &2 {
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.2em;
      text-align: center;
      text-indent: 0.2em;
    }
  }

  &__cont {
    width: calc(100% - 96px);
  }

  &__info {
    height: 102px;
    padding: 16px 16px 0;
  }

  &__badge {
    display: flex;
  }

  &__list {
    margin-top: 8px;
  }

  &__item {
    color: #394048;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__btnWrap {
    display: flex;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    color: #111;
    font-weight: 500;
    font-size: 14px;
    border-top: 1px solid #e9eaee;

    & + .summaryCard__btn {
      border-left: 1px solid #e9eaee;
    }
  }
}

.boardList {
  padding: 0 16px;

  &--headULine {

    .boardList__head {

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 7px;
        background: #00ff89;
        opacity: 0.6;
      }
    }
  }

  &__item {
    padding: 16px 0;
    border-bottom: 1px solid #eee;

    &.opened {
      padding: 16px 0 0;
      border-bottom: 0;
    
      .boardList__subject {
        height: auto;
        font-weight: 600;
        font-size: 14px;
      }
  
      .boardList__cont {
        display: block;
        margin-top: 16px;
      }
    }
  }

  &__head {
    display: inline-block;
    position: relative;
    color: #1b2432;
    font-weight: 500;
    font-size: 12px;
  }

  &__headNum {

    &::after {
      content: '.';
    }
  }

  &__subject {
    overflow: hidden;
    width: 100%;
    height: 20px;
    margin-top: 4px;
    color: #1b2432;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  &__cont {
    display: none;
    padding: 12px 12px 16px;
    background: #f9f9fa;
    border-top: 1px solid #c0c1ca;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    text-align: center;
  }

  &__btnClose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 24px;
    color: #787e85;
    font-weight: 500;
    font-size: 12px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #C0C1CA;
    box-shadow: 0 1px 2px rgba(17, 17, 17, 0.2);
  }

  &__date {
    color: #787e85;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
  }

  &.notice,
  &.faq,
  &.glossary {

    .boardList__subject {
      font-size: 16px;
    }

    .boardList__item {

      &.opened {

        .boardList__subject {
          padding-bottom: 16px;
          font-size: 16px;
        }
      }
    }
  }
}

.totalCnt {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .totalCnt-txt1 {
    position: relative;
    padding-top: 17px;
    color: #1b2432;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 7px;
      background: #00FF89;
    }
  }

  .totalCnt-txt2 {
    color: #1b2432;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0;
  }

  .totalCnt-point {
    position: relative;
    top: 3px;
    color: #f70f66;
    font-weight: 700;
    font-size: 32px;
  }
}

.cardList {

  &.m-margin {
    margin: 0 -16px;
    border-top: 1px solid #e9eaee;
  }
    
  &__item {
    position: relative;
    padding: 16px;
    border-bottom: 8px solid #f2f2f3;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__ctg {
    display: inline-block;
    position: relative;
    color: #1b2432;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 7px;
      background: #00FF89;
    }

    & + .cardList__sbj {
      margin-top: 6px;
    }

    & + .cardList__txt {
      margin-top: 8px;
    }
  }

  &__sbj {
    color: #1b2432;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.96px;

    & + .cardList__txt {
      margin-top: 8px;
    }
  }

  &__txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #394048;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.84px;

    & + .cardList__txt {
      margin-top: 4px;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    padding: 0 6px;
    color: #394048;
    font-size: 12px;
    border: solid 1px rgba(192, 193, 202, 0.6);
    background-color: #f9f9fa;
  }
}

.galleryList {

  &__info {
    padding: 16px;
  }

  &__ctg {
    color: #787e85;
    font-size: 12px;
    line-height: 14px;
  }

  &__sbj {
    margin-top: 6px;
    color: #394048;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__ban {
    position: relative;
    font-size: 0;
  }

  &.ended {

    .galleryList__ban {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(27, 36, 50, 0.7);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  
  .summaryCard__badge {

    .chipCtg {
      font-size: 11px;
    }
  }
}