
.checkBox {
  appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url($imgCommon + 'bg-checkbox.png');

  &:checked {
    background-position: -24px 0;
  }
}

.radioRow {
  display: flex;
  align-items: center;

  .radio {

    & + .radio {
      margin-left: 20px;
    }
  }
}

.radio {
  display: flex;
  align-items: center;
  
  &__inp {
    width: 0;
    height: 0;
  }

  &__label {
    position: relative;
    padding-left: 32px;
    color: #111;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.24px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: url($imgCommon + 'c-bg-radio.png') 0 50%/48px no-repeat;
    }
  }

  .radio__inp:checked + .radio__label {

    &::before {
      background-position: -24px 0;
    }
  }
}