.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  transition: 0.3s;

  .header-inner {
    position: relative;
    height: 90px;
  }

  .logo {
    position: absolute;
    top: 21px;
    left: 0;
    width: 184px;

    img {
      width: 100%;
    }

    .img-def {
      display: block;
    }

    .img-scrolled {
      display: none;
    }
  }

  &.header-sub,
  &.scrolled {
    background: #fff;
    border-bottom: 1px solid #eee;

    .img-def {
      display: none;
    }

    .img-scrolled {
      display: block;
    }

    .gnb {

      &List {

        &__item {
          &.active,
          &:hover {
            &::after {
              background: #050505;
            }
          }
        }

        &__link {
          color: #050505;
        }
      }
    }
  }
}

.gnb {
  position: absolute;
  top: 0;
  right: 0;

  &List {
    display: flex;
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 40px;
      padding: 0 12px;
      height: 90px;

      &.active,
      &:hover {
        &::after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 1px;
          background: #fff;
        }

        .gnbList__link {
          font-weight: 500;
        }
      }
    }

    &__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 1em;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.l-container {
  position: relative;
  padding-top: 90px;

  &-matching {
    padding-top: 91px;

    &.matching-container {

      &.fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    
      &:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        background: #f2f2f3;
      }
    }
  }

  &-hospital {
    padding-top: 91px;

    &.hospital-container {

      &.fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    
      &:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 50%;
        background: #f9f9fa;
      }
    }
  }

  &-sub {
    padding: 91px 0 100px;

    &.has-contact-us {
      padding-bottom: 0;
    }

    &.has-bottom-visual {
      padding-bottom: 0;
    }
  }
}

.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
