.l-header-sub {
  position: relative;
  height: 44px;

  .history-back {
    position: absolute;
    top: 7px;
    left: 6px;
    width: 30px;
    height: 30px;
    background: url($imgCommon + 'ico-history-back.png') 50%/10px no-repeat;
  }

  .page-title {
    padding: 10px 0 0 42px;
    color: #111;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.36px;
  }
}

.l-container {
  position: relative;

  &-sub {
    padding-bottom: 56px;

    &.bg-gray {
      background: #f2f2f3;
    }
  }
}

.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.l-container-inner {
  padding: 16px;
}

.l-row-inner {
  padding: 0 16px;
}