.l-header-sub {
  position: fixed;
  height: 44px;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 768px;
  transform: translateX(-50%);

  .history-back {
    position: absolute;
    top: 7px;
    left: 6px;
    width: 30px;
    height: 30px;
    background: url($imgCommon + 'ico-history-back.png') 50%/10px no-repeat;
  }

  .page-title {
    padding: 10px 0 0 42px;
    color: #111;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.36px;
  }

  .goKakao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 16px;
    width: 94px;
    height: 28px;
    color: #fde50f;
    font-weight: 500;
    font-size: 10px;
    background: #3c1d1e;
    border-radius: 4px;
  }
}

.l-container {
  position: relative;

  &-sub {
    padding: 44px 0 72px;

    &.bg-gray {
      background: #f2f2f3;
    }
  }
}

.l-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 100%;
  max-width: 768px;
  transform: translateX(-50%);
}

.l-container-inner {
  padding: 16px;
}

.l-row-inner {
  padding: 0 16px;
}
