.main .main-visual {
  background: #1B2432;
}

.main .main-visual .visual-slogan {
  position: absolute;
  top: 76px;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-left: 16px;
}

.main .main-visual .visual-slogan .main-visual-tit {
  color: #00FF89;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2.24px;
  line-height: 19px;
  text-shadow: 0px 1px 1px #05050533;
}

.main .main-visual .visual-slogan .main-visual-txt1 {
  margin-top: 8px;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -1.44px;
  line-height: 33px;
  text-shadow: 0px 1px 1px #05050533;
}

.main .main-visual .visual-slogan .main-visual-txt2 {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 1px 1px #05050533;
}

.main .main-visual .visual-swiper .swiper-slide {
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

.main .main-visual .visual-bottom {
  padding: 0 16px;
}

.main .main-visual .visual-btn {
  --height: 42px;
}
