.free-r {
  
  &.step-one {

    .cont-head {
      height: 220px;
      padding: 36px 16px;
      background: #1AC17C url($imgVisual + 'bg-free-step1-head.jpg') 100% 0/auto 100% no-repeat;

      &-tit {
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        text-shadow: 0 1px 1px rgba(17, 17, 17, 0.2);
      }

      &-txt1 {
        margin-top: 4px;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
      }

      &-txt2 {
        position: relative;
        margin-top: 4px;
        padding-top: 23px;
        color: #fff;
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: -0.96px;

        &::before {
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          width: 15px;
          height: 1px;
          background: #c5f2e0;
        }
      }
    }

    .radio-select-box {
      margin-top: -50px;
    }

    .btn-wrap {
      margin-top: 36px;
      padding-bottom: 16px;

      .btn {
        --height: 48px;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.28px;
      }
    }
  }
  
  &.step-two {
    display: none;
    padding-top: 16px;

    .radio-select-box {
      padding-bottom: 0;
    }

    .radioList2 {
      margin-top: 4px;
    }

    .btn-wrap {
      margin-top: 36px;
      padding-bottom: 16px;

      .btn {
        --height: 48px;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.28px;
      }
    }
  }

  .free-r-txt {
    margin-top: 24px;
    color: #394048;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

.counseling {

  .cont-head {
    height: 360px;
    padding: 36px 16px;
    background: #42A6EE url($imgVisual + 'bg-consult-head.jpg') 100% 0/auto 100% no-repeat;

    &-tit {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-shadow: 0 1px 1px rgba(17, 17, 17, 0.2);
    }

    &-txt1 {
      margin-top: 4px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
    }

    &-txt2 {
      margin-top: 13px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: -0.96px;
    }

    &-txt3 {
      margin-top: 4px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: -0.66px;
    }

    .back-image {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      figure {
        width: 104px;
      }
    }
  }

  .radio-select-box {
    margin-top: -50px;
    padding-bottom: 0;
  }

  .btn-wrap {
    margin-top: 36px;
    padding-bottom: 16px;

    .btn {
      --height: 48px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.matching-speed {

  .matching-speed-head {
    padding: 24px 0;

    .matching-speed-txt1 {
      color: $themeColor03;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.72px;
    }

    .matching-speed-txt2 {
      margin-top: 4px;
      color: $themeColor01;
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: -0.96px;
    }
  }
 
  .btn-wrap {
    margin-top: 36px;

    .btn {
      --height: 36px;
    }
  }
}

.c-register {
  padding-top: 16px;

  .btn-wrap {
    margin-top: 36px;

    .btn {
      --height: 48px;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .radio-select-box {

    &.register {
      margin-top: 8px;
      padding: 0 16px;
    }
  }
}

.matching {
  height: 100%;

  &-search {
    padding: 0 16px;

    .searched-key {
      display: flex;
      align-items: center;
      position: relative;
      padding: 6px 0 14px;

      .key-title {
        color: #787e85;
        font-size: 10px;
      }

      .key-wrap {
        position: relative;
        overflow: hidden;
        width: calc(100% - 104px);
        height: 24px;
        margin: 0 8px 0 16px;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 15px;
          height: 100%;
          background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
          pointer-events: none;
        }
      }

      .key-list {
        display: flex;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 30px;
      }

      .key-item {
        margin-right: 8px;
      }

      .kw-reset {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 24px;
        color: #111;
        font-size: 10px;
        background: #f2f2f3;
        border-radius: 12px;
      }
    }

    &.searched + .matching-content {
      height: calc(100% - 92px);
    }
  }

  &-content {
    overflow-y: auto;
    height: calc(100% - 48px);
  }

  .hot-kw {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 16px 16px;

    .title {
      margin-right: 8px;
      color: #787E85;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: -0.24px;
    }

    .hot-kw-swiper {
      width: calc(100% - 72px);

      .swiper-slide {
        width: auto;
        padding: 5px 6px 4px;
        color: #1B2432;
        font-size: 14px;
        letter-spacing: -0.84px;
        border-radius: 4px;

        &:nth-of-type(3n+1) {
          background: #32A9FD1A;
        }

        &:nth-of-type(3n+2) {
          background: #04C9771A;
        }

        &:nth-of-type(3n+3) {
          background: #105DE11A;
        }
      }
    }
  }

  &-find {
    margin: 0 16px;
    padding: 16px 0;
    border-top: 1px solid #f3f3f5;

    &-tit {
      color: #111;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
    }

    &-txt {
      margin-top: 4px;
      color: #394048;
      font-weight: 300;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: -0.2px;
    }

    &-ban {
      display: flex;
      margin-top: 16px;

      .ban-speed {
        width: calc(50% + 56px);
        height: 88px;
        padding: 14px 16px 0 16px;
        background: #105DE1 url($imgSub + 'bg-matching-speed.jpg') 100% 0/ auto 100% no-repeat;
        border-radius: 10px;
      }

      .ban-speed-tit {
        display: inline-block;
        position: relative;
        padding-right: 13px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: -0.96px;
        &::after {
          content: '';
          position: absolute;
          top: 6px;
          right: 0;
          width: 7px;
          height: 12px;
          background: url($imgSub + 'bg-matching.png') -32px 100%/90px no-repeat;
        }
      }

      .ban-speed-txt {
        margin-top: 8px;
        color: #cedef8;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.6px;
      }

      .ban-free {
        width: calc(50% - 56px);
        height: 88px;
        margin-left: 8px;
        padding: 14px 16px 0 16px;
        background: #04c977 url($imgSub + 'bg-matching-free.jpg') 100% 100%/ auto 100% no-repeat;
        border-radius: 10px;
      }

      
      .ban-free-tit {
        display: inline-block;
        position: relative;
        padding-right: 13px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: -0.96px;
        &::after {
          display: inline-block;
          content: '';
          width: 7px;
          height: 12px;
          margin-left: 6px;
          background: url($imgSub + 'bg-matching.png') -32px 100%/90px no-repeat;
        }
      }
    }
  }

  .matching-list-wrap {
    padding: 16px;
    background: #f2f2f3;

    .matching-item {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #f2f2f3;

    .no-data-txt1 {
      position: relative;
      padding-top: 100px;
      color: #1b2432;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 84px;
        height: 84px;
        transform: translateX(-50%);
        background: url($imgSub + 'bg-matching.png') 0 0/100% no-repeat;
      }
    }

    .no-data-txt2 {
      margin-top: 16px;
      color: #787e85;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.72px;
      text-align: center;
    }

    .no-data-txt3 {
      margin-top: 12px;
      color: $themeColor03;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.24px;
      text-align: center;
    }
  }
}

.matching-detail {
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  background: #f2f2f3;

  .md-section {
    border-radius: 8px;
    border: solid 1px #e9eaee;
    background-color: #fff;

    & + .md-section {
      margin-top: 16px;
    }
  }

  .md-name {

    .back-ban {
      font-size: 0;
    }

    .inner-box {
      padding-bottom: 16px;
      border-radius: 0 0 8px 8px;
      background: #fff;
    }

    .img {
      width: 96px;
      margin: -48px auto 0;
      border-radius: 10px;
      overflow: hidden;
    }

    .name {
      margin-top: 16px;
      color: #1b2432;
      font-weight: 600;
      font-size: 23px;
      text-align: center;
      letter-spacing: 0.2em;
      text-indent: 0.2em;
    }

    .position {
      width: 96px;
      margin: 8px auto 0;
      padding-top: 4px;
      color: #394048;
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: -0.32px;
      border-top: 1px solid #c0c1ca;
    }
  }

  .md-summary {
    padding: 16px;

    .sum-list {
      padding-bottom: 8px;
      border-bottom: 1px solid #e2e2e2;

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      & + .sum-list {
        margin-top: 8px;
      }
    }

    .list-tit {
      color: #787e85;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }

    .list-data {
      margin-top: 4px;
      color: #1b2432;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .md-ban {
    margin-top: 16px;
    border-radius: 8px;
    overflow: hidden;
  }

  .md-slogan {
    margin-top: 16px;
    padding: 4px 16px 16px;

    .md-slogan-txt1 {
      margin: 12px 0 8px;
      color: #787e85;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }

    .md-slogan-txt2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      margin-right: -16px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.84px;
      border-radius: 18px 0 0 18px;

      &:nth-of-type(2) {
        background: $themeColor01;
      }

      &:nth-of-type(4) {
        background: $themeColor02;
      }

      &:nth-of-type(6) {
        background: $themeColor03;
      }

      &:nth-of-type(8) {
        background: $themeColor04;
      }
    }
  }

  .md-location {

    .md-loc-top {
      padding: 16px 16px 0;
    }

    .md-loc-txt1 {
      color: #1b2432;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.72px;
      text-align: center;
    }

    .md-loc-txt2 {
      position: relative;
      padding-bottom: 18px;
      color: #1b2432;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.72px;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 30px;
        height: 2px;
        background: #c0c1ca;
        transform: translateX(-50%);
      }
    }

    .address {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      &-txt {
        padding-left: 16px;
        color: #787e85;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        background: url($imgCommon + 'ico-location.png') 0 50%/10px no-repeat;
      }
    }

    .md-loc-map {
      height: 326px;
      margin-top: 8px;
    }
  }

  .md-sns {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .md-sns-btn {
      height: 36px;
      margin: 5px;

      img {
        height: 36px;
      }
    }
  }

  .btn-wrap {
    margin-top: 36px;
    
    .btn {
      --height: 48px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
