@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream1"), url("../fonts/S-CoreDream-1Thin.woff2") format("woff2"), url("../fonts/S-CoreDream-1Thin.woff") format("woff"), url("../fonts/S-CoreDream-1Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream2"), url("../fonts/S-CoreDream-2ExtraLight.woff2") format("woff2"), url("../fonts/S-CoreDream-2ExtraLight.woff") format("woff"), url("../fonts/S-CoreDream-2ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream3"), url("../fonts/S-CoreDream-3Light.woff2") format("woff2"), url("../fonts/S-CoreDream-3Light.woff") format("woff"), url("../fonts/S-CoreDream-3Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream4"), url("../fonts/S-CoreDream-4Regular.woff2") format("woff2"), url("../fonts/S-CoreDream-4Regular.woff") format("woff"), url("../fonts/S-CoreDream-4Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream5"), url("../fonts/S-CoreDream-5Medium.woff2") format("woff2"), url("../fonts/S-CoreDream-5Medium.woff") format("woff"), url("../fonts/S-CoreDream-5Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream6"), url("../fonts/S-CoreDream-6Bold.woff2") format("woff2"), url("../fonts/S-CoreDream-6Bold.woff") format("woff"), url("../fonts/S-CoreDream-6Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream7"), url("../fonts/S-CoreDream-7ExtraBold.woff2") format("woff2"), url("../fonts/S-CoreDream-7ExtraBold.woff") format("woff"), url("../fonts/S-CoreDream-7ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream8"), url("../fonts/S-CoreDream-8Heavy.woff2") format("woff2"), url("../fonts/S-CoreDream-8Heavy.woff") format("woff"), url("../fonts/S-CoreDream-8Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local("SCDream9"), url("../fonts/S-CoreDream-9Black.woff2") format("woff2"), url("../fonts/S-CoreDream-9Black.woff") format("woff"), url("../fonts/S-CoreDream-9Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-style: normal;
}

body {
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'S-CoreDream', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  outline: none;
}

table caption {
  position: absolute;
  left: -99999999vw;
}

*::placeholder {
  color: #c4c4c4;
  font-weight: 200;
  font-size: 14px;
}

figcaption {
  height: 0;
  overflow: hidden;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
}

.is-blind {
  position: absolute;
  left: -9999em;
}

.italic {
  font-style: italic;
}

[class*="d-flex"] {
  display: flex;
}

[class*="d-flex"].f-wrap {
  flex-wrap: wrap;
}

.d-flex-s-s {
  justify-content: flex-start;
  align-items: flex-start;
}

.d-flex-s-c {
  justify-content: flex-start;
  align-items: center;
}

.d-flex-s-e {
  justify-content: flex-start;
  align-items: end;
}

.d-flex-c-s {
  justify-content: center;
  align-items: flex-start;
}

.d-flex-c-c {
  justify-content: center;
  align-items: center;
}

.d-flex-c-e {
  justify-content: center;
  align-items: end;
}

.d-flex-e-s {
  justify-content: end;
  align-items: flex-start;
}

.d-flex-e-c {
  justify-content: end;
  align-items: center;
}

.d-flex-e-e {
  justify-content: end;
  align-items: end;
}

.d-flex-sb-s {
  justify-content: space-between;
  align-items: flex-start;
}

.d-flex-sb-c {
  justify-content: space-between;
  align-items: center;
}

.d-flex-sb-e {
  justify-content: space-between;
  align-items: end;
}

.tac {
  text-align: center !important;
}

.ovh {
  overflow: hidden;
}
